body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;

}


header{
    background:#1a1a1a;
    color:rgb(255, 0, 0);
    text-align:center;
    padding:25px;
}


nav{
    background:#ffffff;
    text-align:center;
    padding:15px;
}

nav a{
    color:rgb(255, 0, 0);
    margin:15px;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
}
nav a:hover{
    color:#0525c0;
}



nav ul li{
    display: inline;
}
article{
    padding: 6px;
}


section{
    width:70%;
    padding:20px;
    background:white;

}

aside{
    width:25%;
    float:right;
    background-color: #f2f2f2;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
}

img{
    margin:10px;
    border-radius:10px;
    box-shadow:2px 2px 5px gray;
}


table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background:#2e2d2d;
    color:white;
    padding:10px;
}


table, th, td{
    border:1px solid black;
    padding:10px;
    text-align:center;
}

caption{
    font-size:18px;
    margin-bottom:10px;
    font-weight:bold;
}


form{
    background:#f2f2f2;
    padding:20px;
    border-radius:10px;
    width:60%;
}

input, textarea{
    width:100%;
    padding:8px;
    margin-top:5px;
}

input[type="submit"]{
    background:#333;
    color:white;
    border:none;
    cursor:pointer;
}

input[type="submit"]:hover{
background:#555;
}

footer{
    clear:both;
    background:#1a1a1a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
}
.titulo{
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-align: center;
    /* text-shadow: 5px 3px red; */
    text-shadow: 1px 1px 2px rgb(255, 255, 255),
    0 0 10px rgb(50, 232, 232),
    0 0 20px black;
}
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 8px;
}
th{
    color: white;
    background-color: rgb(49, 49, 216);
}
tr:nth-child(even){
    background-color: rgb(191, 194, 202);
}

tr:hover{
    background-color: rgb(101, 184, 155);
    cursor: pointer;
}

